/* Add application styles & imports to this file! */.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
body{
      margin: 0px;

}